*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: blue;
    color: white; 
    width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    /* background-color: yellow; */
    width: 80vw;
}
.container{
    display: flex;
}

.infoContainer{
    /* background-color:green; */
    height: 58vh; 
    width: 70vw;
    margin: 124px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 55px;
}

.name{
    font-size: 40px;
    font-weight: bold;
}

.about{
    font-size: 30px;
}
.moreabout{
    font-size: 19px;
    margin-top: 20px;
}
.buttons{
    margin-top: 30px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer ;
}
.btn:hover{
    background-color: white;
    color: blue;
    
}

.devPic img{
    /* padding-top: 100px; */
    width: 481px;
    height: 58vh;
    border-radius: 100%;
    
}


/* =============================================================Contact.html ======================================== */

.contactform {
    padding: 0 34px;
    padding-top: 144px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contactform h1{
    /* text-align: center; */
    padding: 10px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{

    width: 26vw;
    border-radius:  5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 14px;
    color: grey;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction:  row;
}
#form-check input{
    width: 24px;
    margin: 1px 0;
}
.btn-sm{
    font-size:  14px;
    padding: 10px 19px;
    margin: 12px 0;;
}

/* =============================================================Intro.html ======================================== */



.devInfo h1{
    font-size: 50px;
    color: rgb(126, 119, 119);
    margin-bottom: 30px;

}
.devInfo p{
    font-size: 22px;
    color: rgb(126, 119, 119);
    
}

